language: c

install:
  - npm install
  - wget xtuple.com/bootstrap -qO- | sudo bash
  - /usr/local/bin/npm install -g xtuple-server
  - cd ..
  - git clone git://github.com/xtuple/xtuple.git --recursive
  - cd xtuple
  - git checkout 4_8_x
  - /usr/local/bin/npm install
  - sudo xtuple-server install-dev --xt-version 4_8_x --xt-demo
  - cd ../xtuple-extensions
  - /usr/local/bin/npm run-script test-build
  - mv sample/xtuple-ice-cream source
  - mkdir -p test/xtuple-ice-cream/specs
  - cp source/xtuple-ice-cream/test/* test/xtuple-ice-cream/specs
  - ../xtuple/scripts/build_app.js -e source/xtuple-ice-cream

before_script:
  - cd ../xtuple
  - n 0.10.32
  - /usr/local/bin/npm start &
  - sleep 10

script:
  - /usr/local/bin/npm test
  - cd ../xtuple-extensions
  - /usr/local/bin/npm test
  - ../xtuple/node_modules/.bin/jshint --exclude source/bi_open/client/lib source

after_failure:
  - ls -l /var/log/xtuple
  - sudo tail -n 100000 /var/log/xtuple/travis-v470-dev-forever.log
